@font-face {
  font-family: 'iconfont';  /* project id 1490213 */
  src: url('//at.alicdn.com/t/font_1490213_buhiza08vso.eot');
  src: url('//at.alicdn.com/t/font_1490213_buhiza08vso.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1490213_buhiza08vso.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1490213_buhiza08vso.woff') format('woff'),
  url('//at.alicdn.com/t/font_1490213_buhiza08vso.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1490213_buhiza08vso.svg#iconfont') format('svg');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-wuyun:before {
  content: "\e608";
}

.icon-sousuo1:before {
  content: "\e62f";
}

.icon-sousuo2:before {
  content: "\e62f";
}
.icon-hand_down:before {
  content: "\e65c";
}
.icon-no_view:before {
  content: "\e6c6";
}
.icon-username:before {
  content: "\e66c";
}
.icon-email:before {
  content: "\e68b";
}
.icon-password:before {
  content: "\e622";
}
.icon-code:before {
  content: "\e68a";
}
.icon-user:before {
  content: "\e66c";
}
.icon-eat:before {
  content: "\e741";
}
.icon-touzi:before {
  content: "\e71b";
}
.icon-xiaolian:before {
  content: "\e602";
}
.icon-daxiao:before {
  content: "\e623";
}

